.toolip {
    text-wrap: nowrap;
    font-size: 13px;
    transition: 0.1s;
    opacity: 1;
    background-color: var(--primaryFont);
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    border-radius: 6px;
    padding: 5px 8px;
}