.blogPageHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPageImg {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.blogPageImg img {
    width: 100%;
    height: 100%;
}

.blogPageHeader h1 {
    margin-bottom: 15px;
}

.blogPageHeader p {
    margin-bottom: 50px;
}

.blogCardsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.blogCardsContainer h1 {
    grid-column: 1/4;
    width: 100%;
    display: flex;
    margin: 18px 0;
}

.blogPageHeading {
    justify-content: center;
}

/* -----------------resoponsive------------------ */


@media (max-width: 770px) {
    
.blogCardsContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.blogPageHeader p {
    margin-bottom: 10px;
}

.blogCardsContainer h1 {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    margin: 18px 0;
}
}