:root {
  
  /* ----------------Base Colors------------------ */

  --background: #010409;
  --primaryFont: #ffffff;
  --secondaryFont: #B7BDC8;
  --btn-base: #262c36;
  --btn-hover: #2A313C;
  --linkFont: #74B9FF;

  /* ----------------nav Colors------------------ */

  --navHover: #2F3742;
  --navOrange: #FF967D;

  /* ----------------Language Colors------------------ */

  --HTML: #E34C26;
  --CSS: #563D7C;
  --JavaScript: #F1E05A;
  --TypeScript: #3178C6;
  /* --PHP: #4f5d95; */
  /* --JAVA: #B07219; */
  
  /* ----------------Font Size------------------ */

  --fs-head: 2rem;
  --fs-sub-head: 1.2rem;
  --fs-content: 1.1rem;

}

@font-face {
  font-family: "Jneek-Fs-Bold";
  src: url("/fonts/Jneek-Fs-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Jneek-Fs-Regular";
  src: url("/fonts/Jneek-Fs-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Jneek-Fs-Light";
  src: url("/fonts/Jneek-Fs-Light.otf") format("opentype");
}

html {
  font-size: 12px;
}

body {
  background-color: var(--background);
  color: var(--primaryFont);
  font-family: "Jneek-Fs-Regular", sans-serif;
  font-size: var(--fs-content);
}

h1 {
  font-size: var(--fs-head);
  font-family: "Jneek-Fs-Bold";
}

h2 {
  font-weight: 300;
  font-size: var(--fs-sub-head);
  font-family: "Jneek-Fs-Bold";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--linkFont);
}


