.overviewAbout {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid var(--secondaryFont);
    line-height: 22px;
}

.overviewHeading {
    margin: 25px 0 10px 0;
}

.overviewProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.pinnedProjects {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid var(--secondaryFont);
    color: var(--secondaryFont);
}

.pinnedProjects h2 {
    display: flex;
    align-items: center;
}

.pinnedProjects span {
    margin-right: 7px;
    color: var(--secondaryFont);
}

.blueLink {
    text-decoration: none;
    color: var(--linkFont);
    height: 20px;
}

.blueLink:hover {
    text-decoration: underline;
    color: var(--linkFont);
}

.publicTag {
    margin-left: 5px;
    border: 1px solid var(--secondaryFont);
    color: var(--secondaryFont);
    border-radius: 15px;
    padding: 2px 8px;
    font-size: var(--fs-label);
}

.pinnedProjectsDetails {
    margin: 10px 0;
}

.pinnedProjectsMinor {
    display: flex;
    align-items: center;
}

.pinnedProjectsMinor p {
    margin-right: 20px;
}

.pinnedProjectStar {
    margin-right: 3px;
}

.langColor {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.overviewDetailsContainer {
    display: flex;
    padding-top: 40px;
}

.overviewSectionFirst {
    width: 85%;
    overflow: hidden;
}

.overviewDetails {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    margin-top: 10px;
}

.overviewContentContainer {
    display: flex;
    padding: 20px;
}

.overviewContent {
    width: 50%;
    border-right: 1px solid var(--secondaryFont);
}

.overviewContent h2{
    margin-bottom: 20px;
}

.overviewContentParagraph {
    display: flex;
}

.overviewContentParagraph span {
    margin-right: 10px;
}

.overviewDays {
    width: 100%;
    object-fit: cover;
    padding: 20px;
    border-bottom: 1px solid var(--secondaryFont);
}


.overviewGraph {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .overviewGraph img{
    height: 250px;
    object-fit: cover;
} */

.overviewSectionSecond {
    width: 15%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.learningYears{
    margin-bottom: 15px;
}

.learningYears h2 {
    padding-left: 15px;
}

.higlightedYear{
    display: flex;
    border-radius: 5px;
    background-color: #194FB1;
    padding: 7px 0px;
}


@media (max-width: 1020px) {
}

@media (max-width: 720px) {

.overviewAbout {
    padding: 15px;
}

.overviewProjects {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.overviewSectionSecond {
    display: none;
}

.overviewSectionFirst {
    width: 100%;
}
.overviewDaysContainer {
    width: 100%;
    overflow-x: scroll;
}

.overviewDays {
    object-fit: contain;
    padding: 10px;
    border-bottom: 1px solid var(--secondaryFont);
}

.overviewContentContainer {
    display: block;
    padding: 20px;
}

.overviewContent {
    width: 100%;
    border-right: none;
}

.overviewGraph {
    width: 100%;
}

}