.dropdown { 
    position: relative; 
    display: inline;
    font-size: 12px; 
} 

.dropdown button{
    background-color: var(--btn-base);
    color: white;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown button:hover{
    background-color: var(--btn-hover);
}

.dropdown button span {
    margin-left: 5px;
}

.dropdownLable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 0.4px solid var(--secondaryFont);
}

.dropdownLable span {
    font-size: 18px;
    color: var(--secondaryFont);
}

.dropdownLable span:hover {
    color: var(--primaryFont);
}

.dropdownContent {
    position: absolute;
    min-width: 300px;
    right: 0;
    background-color: #151B23;
    color: white;
    z-index: 1;
    overflow: hidden;
    border-radius: 6px;
    border: 0.4px solid var(--secondaryFont);
    margin-top: 8px;
} 

.dropdownContent a { 
    display: flex;
    align-items: center;
    color: white;
    padding: 8px 16px; 
    text-decoration: none;
    border-bottom: 0.4px solid var(--secondaryFont);
    text-wrap: nowrap;
}

.dropdownContent a span {
    width: 28px;
    font-size: 18px;
}

.dropDownCross {
    display: none;
}
    
.dropdownContent a:hover { 
    background-color: #212830;
} 