.blogCardContainer {
    min-width: 200px;
    border: 1px solid var(--secondaryFont);
    border-radius: 8px;
    padding: 25px;
}

.blogCardContainer h2 {
    font-size: var(--fs-head-md);
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.blogCardContainer p {
    color: var(--secondaryFont);
    margin-bottom: 15px;
}

.blogCardContainer button {
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid var(--secondaryFont);
    background-color: var(--btn-base);
    color: white;
    font-size: var(--fs-body);
}

.blogCardContainer button:hover {
    background-color: var(--btn-hover);
}

@media (max-width: 720px) {

.blogCardContainer {
    min-width: 200px;
    border: 1px solid var(--secondaryFont);
    border-radius: 8px;
    padding: 15px;
}

.blogCardContainer h2 {
    margin-bottom: 9px;
}
    
}