.navBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100px;
    padding: 0 15px;
    border-bottom: 1px solid var(--secondaryFont);
}

.navFirstSection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
}

.navFirstSectionBox {
    margin-right: 15px;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    display: flex;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navFirstSection img {
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

.navFirstSection h1{
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
}

.navFirstSection h1:hover{
    background-color: var(--navHover);
}

.navFirstSection a {
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------ */

.navSecondSection {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--secondaryFont);
}

.navInput {
    display: flex;
    align-items: center;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    width: 230px;
    height: 30px;
    font-size: 15px;
}

.navInputSearch {
    margin:  0 5px;
}

.navInput span {
    border: 1px solid var(--secondaryFont);
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 12px;
}

.navDivider {
    width: 0.5px;
    height: 20px;
    background-color: var(--secondaryFont);
    margin: 0 10px;
}

.navDropdown {
    cursor: pointer;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-right: 8px;
}

.navDropdown span{
    margin: 0 5px;
    font-size: 12px;
}

.navResumeDownload,
.navNotification,
.navPullRequest,
.navReviewButton {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondaryFont);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-right: 8px;
}

.navDropdown:hover,
.navResumeDownload:hover,
.navNotification:hover,
.navPullRequest:hover,
.navReviewButton:hover {
    background-color: var(--navHover);
}

.navResumeDownload:hover .navToolTip {
    opacity: 1;
    visibility: visible; 
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
}

.navHeroimg {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 0.4px solid var(--secondaryFont);
}

.navHeroimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------------------------- */

.navBaseSection {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    font-size: 15px;
}

.navBaseSection span {
    color: var(--secondaryFont);
    margin-right: 8px;
}

.navLinkContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-wrap: nowrap;
    margin: 0 10px;
}

.navLinkUnderLine {
    height: 2px;
    width: 100%;
    background-color: var(--navOrange);
    border-radius: 5px;
}

.navLinkButton {
    display: flex;
    align-items: end;
}

.navLinkButton a {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}

.navLinkButton a:hover {
    background-color: var(--navHover);
}

.navProjectLength {
    display: inline;
    border: 1px solid var(--secondaryFont);
    border-radius: 10px;
    padding: 1px 7px;
    margin-left: 10px;
    background-color: var(--btn-base);
    color: white;
}
